<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a passionate cyber security undergraduate with a keen interest in Governance,
           Risk, and Compliance (GRC). With a strong focus on the blue team side, I strive 
           to protect and defend against cyber threats while ensuring organizational 
           compliance with industry standards.</p>
      </div>
      <div class="col-lg-4">
        <p>I have experience in the following cyber security disciplines including but not limited
           to Network Security, Information Security, Vulnerability Assessment, Digital Forensics, 
           GRC, Cryptography, Malware Analysis, Reverse Engineering etc
         </p>
      </div>
    </div>
    <div>
      <br>
      <h3 style="color:#FFED00">Education</h3><br>
      <p>FAST National University of Computer and Emerging Sciences, Islamabad<br>
      Bachelors in Science, Cybersecurity<br>2020-2024</p>
    <div>
      <br>
      <h3 style="color:#FFED00">Experience</h3><br>
      <h4 style="color:#FF6E31">Cyber Security Intern</h4>
      <p>NCSAEL- National Cyber Security Auditing and Evaluation Lab<br>July 2023 till Present<br>I am currently working in the GRC domain and have been going through the NIST Framework</p>
      <h4 style="color:#FF6E31">Cyber Defense and Networks Intern </h4>
      <p>Thincs Corp<br>July 2022 till October 2022<br>This was the first time that I got hands on experience in my field. 
        Apart from cyber security related challenges, this internship has made me aware of the general workflow of security
         firms. Starting with forensic report writing, time at ThincsCorp has helped me improve in the field of Digital 
         Forensics and Network Security.
      </p>
      <h4 style="color:#FF6E31">Blue Team Trainer</h4>
      <p>CSL - Cyberspace Legion<br>July 2022 till Present<br>yberSpace Legion is a cyber-security society in FAST-NUCES Islamabad.
         My role here is to train new students and members for DFIR and Blue teaming practices.
      </p>
      <h4 style="color:#FF6E31">Teaching Assistant</h4>
      <p>FAST National University of Computer and Emerging Sciences<br>Aug 2022 till Present<br>I got to interact with my 
        juniors and was able to help them with clearing concepts of Object Oriented PRogramming. This in return helped me
        take an Object Oriented Approach when programming to solve any problems.
      </p>
      <h4 style="color:#FF6E31">Lab Demonstrator</h4>
      <p>FAST National University of Computer and Emerging Sciences<br>Feb 2023 till Present<br>I got to attend Data Structures Lab in order
        to help my juniors in resolving errors present in their codes. I helped them in finding the right approach to help solving problems 
        by incorporating different data structures like lists, queues, stacks, binary trees, AVL trees etc.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <br>
        <h3 style="color:#FFED00">Certifications</h3><br>
        <p>
          Google IT Support Certficate<br>
          Microsoft Certified - Azure Fundamentals<br>
          AWS Academy Graduate - AWS Academy Cloud Foundations<br>
          Cybersecurity Engineering Virtual Internship Program - SAP <br>
          NSE-1,2 - Fortinet <br>
          DFE Digital Forensics Essentials - EC Council

        </p>
      </div>
      <div class="col-lg-4">
        <br>
        <h3 style="color:#FFED00">Honors and Awards</h3><br>
        <h4 style="color:#FF6E31">Semester: 2</h4>
        <p>Bronze Medalist + Part of Dean's List</p>
        <h4 style="color:#FF6E31">Semester: 3</h4>
        <p>Part of Dean's List</p>
        <h4 style="color:#FF6E31">Semester: 4</h4>
        <p>Gold Medalist + Part of Dean's List</p>
        <h4 style="color:#FF6E31">Semester: 5</h4>
        <p>Part of Dean's List</p>
        <h4 style="color:#FF6E31">Semester: 6</h4>
        <p>Bronze Medalist + Part of Dean's List</p>
      </div>
    </div>
  </div>
</section>
